{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        {% for user in names  %}
        <a href='/delete-user/{{ user.user_if }}'>
        {{ user.first_name }}
        </a>
        {{ user.age }}
        
        <br>

        {% endfor %}
        <br>
        <div class="section-content">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/add-user">

            Add New User

          </a>
        </div>

      </div>
      

    </div>
  </main>
{% endblock %}